* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
}

.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.left-panel, .right-panel {
    flex: 1;
    padding: 40px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, p {
  text-align: center;
}

h1 {
    font-size: 150%;
    margin-bottom: 5px;
    margin-top: 5px;
}

p {
    font: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #555;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.button {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: palevioletred;
    cursor: pointer;
}

.button:hover {
    background-color: pink;
}

.right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}
